<template>
  <div>
  <p style="color:#20A0FF;font-size:20px;">{{ about}}
    <el-button
      size="mini"
      @click="handleAdd()">添加用户
    </el-button>
    <el-button
      size="mini"
      @click="handleListAll()">查询用户
    </el-button>
    <el-button
      size="mini"
      type="danger"
      disabled
      @click="handleDelete()">删除用户
    </el-button>
</p>

    <el-form :model="selectTable" :rules="inrules" class="divcss5" style="width: 50%">
      <el-form-item label="用户ID" prop="uid" label-width="100px">
        <el-input v-model="selectTable.uid"></el-input>
      </el-form-item>
      <el-form-item label="角色" prop="role"  label-width="100px">
        <el-select v-model="selectTable.role" placeholder="选择角色">
        <el-option label="普通用户" value="user"></el-option>
        <el-option label="EB管理员" value="admin"></el-option>
        <el-option label="超级管理员" value="superadmin"></el-option>
       </el-select>
      </el-form-item>
      <el-form-item label="E币" prop="points" label-width="100px">
        <el-input v-model="selectTable.points"></el-input>
      </el-form-item>
      <el-form-item label="注释" label-width="100px">
        <el-input v-model="selectTable.remark"></el-input>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" style="width: 80%">
      <el-table-column prop="uid" label="用户ID" width="180"></el-table-column>
      <el-table-column prop="role" label="角色" width="180"></el-table-column>
      <el-table-column prop="points" label="E币"></el-table-column>
      <el-table-column prop="remark" label="注释"></el-table-column>
    </el-table>

    <div width="50%"></div>
      <el-dialog title="E币管理员账户验证" :visible.sync="dialogFormVisible">
        <el-form :model="form">
          <el-form-item label="操作" label-width="100px">
            <el-input v-model="form.method" readonly="true"></el-input>
          </el-form-item>
          <el-form-item label="账户名" label-width="100px" >
            <el-input v-model="form.accountName" readonly="true"></el-input>
          </el-form-item>
          <el-form-item label="密码" label-width="100px">
            <el-input v-model="form.password" type="password"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="addPassword">确 定</el-button>
        </div>
      </el-dialog>
    </div>
</template>
<script>
  import {mobileAndTabletcheck, browseCheck} from '../../config/mUtils';
  import Web3 from 'web3';
  import EthereumTx from 'ethereumjs-tx';
  console.log(Web3);
  export default {
    data() {
      console.log("in data block;");
      return {
        contractAddress: "0x2063283f059a1b8f2a4a101e14b01f6537827a26",
        provideAddr: "https://junode3.juzix.net",
        abiArray: [{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"},{"name":"_contractName","type":"string"},{"name":"_contractVersion","type":"string"}],"name":"register","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"getErrno","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_str2","type":"string"},{"name":"_str3","type":"string"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_addr","type":"address"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_i","type":"int256"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"},{"name":"_newOwner","type":"address"}],"name":"changeModuleRegisterOwner","outputs":[],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"}],"name":"register","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_uid","type":"string"},{"name":"_role","type":"string"},{"name":"_points","type":"uint256"},{"name":"_remark","type":"string"}],"name":"add","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[],"name":"kill","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_str2","type":"string"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"getSender","outputs":[{"name":"_ret","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"listAll","outputs":[{"name":"_json","type":"string"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"},{"name":"_contractName","type":"string"},{"name":"_contractVersion","type":"string"},{"name":"_newOwner","type":"address"}],"name":"changeContractRegisterOwner","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_name","type":"string"},{"name":"_key","type":"string"},{"name":"_value","type":"string"}],"name":"writedb","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"getOwner","outputs":[{"name":"_ret","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"x","type":"bytes32"}],"name":"bytes32ToString","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_uid","type":"string"}],"name":"deleteByUid","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_uidPayer","type":"string"},{"name":"_uidPayee","type":"string"},{"name":"_points","type":"uint256"},{"name":"_remark","type":"string"}],"name":"sendPoints","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_ui","type":"uint256"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"listPointList","outputs":[{"name":"_json","type":"string"}],"payable":false,"type":"function"},{"inputs":[],"type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"_errno","type":"uint256"},{"indexed":false,"name":"_info","type":"string"}],"name":"Notify","type":"event"}],
        selectTable: {
          //uid: '13512160888',
         // role: 'admin',
          //points: '99999',
          //remark: '用户积分管理测试',
        },
        inrules: {
        uid: [
            { required: true, message: '输入用户ID', trigger: 'blur' },
            { min: 8, max: 64, message: '长度在 6 到 64 个字符', trigger: 'blur' }
          ],
        points: [
            { pattern: /\d{1,32}/, message: '输入初始E币1-32位数字', trigger: 'blur' }
          ]
        },
        about: '用户管理',
        form: {
          accountName: "",
          password: "",
          method: "",
        },
        dialogFormVisible: false,
        tableData: [],
      };
    },
    methods: {
      handleAdd() {
        this.form.method = '添加用户';
        if (browseCheck() && !mobileAndTabletcheck()) {
          let userInfoS = this.get('userInfo');
          console.log("browseChecked!"+userInfoS+"  <-useinfo");
          if (userInfoS === 'undefined' || userInfoS === '') {
            this.$alert('请先登陆E币服务平台', '提示', {
              confirmButtonText: '确定'
            });
            return;
          }
          let userInfo = JSON.parse(userInfoS);
          let keyObject = JSON.parse(window.localStorage['keyObject-' + userInfo.userName]);
          this.form.accountName = keyObject.account;
          this.dialogFormVisible = true;
        } else {
          console.log("jump to addpassword()");
          this.addPassword();
       }
        
      },
      handleDelete() {
        this.form.method = '删除用户';
       /*
        if (browseCheck() && !mobileAndTabletcheck()) {
          console.log("at browse"+this.get('userInfo'));
          let userInfoS = this.get('userInfo');
          if (userInfoS === 'undefined' || userInfoS === '') {
            this.$alert('请先登陆E币服务平台', '提示', {
              confirmButtonText: '确定'
            });
            return;
          }
          let userInfo = JSON.parse(userInfoS);
          let keyObject = JSON.parse(window.localStorage['keyObject-' + userInfo.userName]);
          this.form.accountName = keyObject.account;
          this.dialogFormVisible = true;
        } else { */
          this.addPassword();
        //}
      },
      handleListAll() {
        this.getDataList();
      },
      async getDataList() {
        let web3 = new Web3(new Web3.providers.HttpProvider(this.provideAddr));
        let contract = web3.eth.contract(this.abiArray).at(this.contractAddress);
        console.log(this.contractAddress);
        const resp = contract.listAll();
        const resp2 = web3.eth.getBalance("0xcbaa4dfcddceb8fb5b8205f9ce1901c2c302ec7c").toString();
        console.log(resp2);
        console.log(resp);
        this.tableData = [];
        this.tableData = JSON.parse(resp).data;
      },
      addPassword() {

        let web3 = new Web3(new Web3.providers.HttpProvider(this.provideAddr));
        let contract = web3.eth.contract(this.abiArray).at(this.contractAddress);
        if ('添加用户' == this.form.method) {
          const myCallData = contract.add.getData(this.selectTable.uid, this.selectTable.role, this.selectTable.points, this.selectTable.remark);
          console.log(this.form.method+"<--form-method");
          this.mySendTransaction(web3, myCallData,this.contractAddress);
        } else if ('删除用户' == this.form.method) {
          console.log(this.form.method+" in delete user "+this.selectTable.uid+" "+this.tableData.uid);
          const myCallData = contract.deleteByUid.getData(this.selectTable.uid);
          //const myCallData = contract.listAll();
          console.log('after call myCallData:'+ myCallData);
          this.mySendTransaction(web3, myCallData,this.contractAddress);
        }
        this.dialogFormVisible = false;
      },
      mySendTransaction(web3, myCallData,contractAddress) {
        console.log("in mySendTransaction.");
        var nonce = web3.nonce();;
        var rawTx = {
          nonce: nonce,       // 获取交易nonce值
          gasPrice: 100000000000,//21000000000
          gasLimit: 10000000000000,//843314949521407
          to: contractAddress, // 合约address
          data: myCallData // 发送的交易数据
        };
        //if (browseCheck() && !mobileAndTabletcheck()) {
          // 同步
          //let userInfo = JSON.parse(this.get('userInfo'));
          //slet keyObject = JSON.parse(window.localStorage['keyObject-' + userInfo.userName]);
          //let privateKey = keyManager.recover(keyObject.username, keyObject.account, this.form.password);

          var username = "Rhinux";
          var account = "Rhinux";
          var password = "MynameisRhinux";
          //let userInfo = [{"userName":"Rhinux","account":"Rhinux","password":"MynameisRhinux"}];
          var privateKey = keyManager.recover(username, account, password);
          console.log("privatekey:"+privateKey);
          var tx = new EthereumTx(rawTx);
          var privateKeyBuffer = new Buffer(privateKey, 'hex');
          tx.sign(privateKeyBuffer);
          var serializedTx = tx.serialize().toString('hex');
          web3.eth.sendRawTransaction(serializedTx, function (err, hash){
            console.log(err)
            if (!err){
              console.log(hash);
              alert('操作成功');
            }else{
              console.log(hash);
              alert('操作失败');
            }
          });
        //} else {
          // 调用客户端能力进行交易签名
        //  Juice.wallet.sign(rawTx, (res) => {
        //    let signData = res.data;
        //    web3.eth.sendRawTransaction(signData, (err, hash) => {
        //      if (!err){
        //        console.log(hash);
        //        this.$alert('操作成功', '提示', {
        //          confirmButtonText: '确定'
        //        });
        //        setTimeout(10000);
        //        this.getDataList();
        //     }
        //    });
        //  });
      //  }
      },
      get (c_name) {
        if (document.cookie.length > 0) {
          let c_start = document.cookie.indexOf(c_name + "=")
          if (c_start != -1) {
            c_start = c_start + c_name.length + 1
            let c_end = document.cookie.indexOf(";", c_start)
            if (c_end == -1) c_end = document.cookie.length
            return document.cookie.substring(c_start, c_end)
          }
        }
        return ""
      },
    }
  };
</script>
