<template>
  <div>
    <p style="color:#20A0FF;font-size:20px;">{{ about }}

    <el-button
      size="mini"
      @click="handleAdd()">E币消费和发放
    </el-button>
    <el-button
      size="mini"
      @click="handleListAll()">查询交易清单
    </el-button></p> 
    
    <el-form :model="selectTable" class="divcss5">
      <el-form-item label="转出用户ID" label-width="100px">
        <el-input v-model="selectTable.payer"></el-input>
      </el-form-item>
      <el-form-item label="转入用户ID" label-width="100px">
        <el-input v-model="selectTable.payee"></el-input>
      </el-form-item>
      <el-form-item label="E币" label-width="100px">
        <el-input v-model="selectTable.points"></el-input>
      </el-form-item>
      <el-form-item label="注释" label-width="100px">
        <el-input v-model="selectTable.remark"></el-input>
      </el-form-item>
    </el-form>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="payer" label="转出用户" width="180"></el-table-column>
      <el-table-column prop="payee" label="转入用户" width="180"></el-table-column>
      <el-table-column prop="points" label="E币"></el-table-column>
      <el-table-column prop="remark" label="注释"></el-table-column>
    </el-table>
    <div width="50%"></div>
      <el-dialog title="E币管理员账户验证" :visible.sync="dialogFormVisible">
        <el-form :model="form">
          <el-form-item label="操作" label-width="100px">
            <el-input v-model="form.method" readonly="true"></el-input>
          </el-form-item>
          <el-form-item label="账户名" label-width="100px" >
            <el-input v-model="form.accountName" readonly="true"></el-input>
          </el-form-item>
          <el-form-item label="密码" label-width="100px">
            <el-input v-model="form.password" type="password"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="transPoints">确 定</el-button>
        </div>
      </el-dialog>
    </div>
</template>
<script>
  import {mobileAndTabletcheck, browseCheck} from '../../config/mUtils';
  import Web3 from 'web3';
  import EthereumTx from 'ethereumjs-tx';
  console.log(Web3);
  export default {
    data() {
      console.log("in data block;");
      return {
        contractAddress:"0x2063283f059a1b8f2a4a101e14b01f6537827a26",
        provideAddr: "https://junode3.juzix.net",
        abiArray: [{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"},{"name":"_contractName","type":"string"},{"name":"_contractVersion","type":"string"}],"name":"register","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"getErrno","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_str2","type":"string"},{"name":"_str3","type":"string"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_addr","type":"address"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_i","type":"int256"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"},{"name":"_newOwner","type":"address"}],"name":"changeModuleRegisterOwner","outputs":[],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"}],"name":"register","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_uid","type":"string"},{"name":"_role","type":"string"},{"name":"_points","type":"uint256"},{"name":"_remark","type":"string"}],"name":"add","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[],"name":"kill","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_str2","type":"string"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"getSender","outputs":[{"name":"_ret","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"listAll","outputs":[{"name":"_json","type":"string"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_moduleName","type":"string"},{"name":"_moduleVersion","type":"string"},{"name":"_contractName","type":"string"},{"name":"_contractVersion","type":"string"},{"name":"_newOwner","type":"address"}],"name":"changeContractRegisterOwner","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_name","type":"string"},{"name":"_key","type":"string"},{"name":"_value","type":"string"}],"name":"writedb","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"getOwner","outputs":[{"name":"_ret","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"x","type":"bytes32"}],"name":"bytes32ToString","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_uid","type":"string"}],"name":"deleteByUid","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"_uidPayer","type":"string"},{"name":"_uidPayee","type":"string"},{"name":"_points","type":"uint256"},{"name":"_remark","type":"string"}],"name":"sendPoints","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_str","type":"string"},{"name":"_ui","type":"uint256"}],"name":"log","outputs":[{"name":"_ret","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"listPointList","outputs":[{"name":"_json","type":"string"}],"payable":false,"type":"function"},{"inputs":[],"type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"_errno","type":"uint256"},{"indexed":false,"name":"_info","type":"string"}],"name":"Notify","type":"event"}],
        selectTable: {
          payer: '1001',
          payee: '5001',
          points: '8',
          remark: '用户E币分配和消费测试',
        },
        about: 'E币管理',
        form: {
          accountName: "",
          password: "",
          method: "",
        },
        dialogFormVisible: false,
        tableData: [],
      };
    },
    methods: {
      handleAdd() {
        this.form.method = 'E币转账';
        if (browseCheck() && !mobileAndTabletcheck()) {
          let userInfoS = this.get('userInfo');
          console.log("browseChecked!"+userInfoS+"  <-useinfo");
          if (userInfoS === 'undefined' || userInfoS === '') {
            this.$alert('请先登陆E币服务平台', '提示', {
              confirmButtonText: '确定'
            });
            return;
          }
          let userInfo = JSON.parse(userInfoS);
          let keyObject = JSON.parse(window.localStorage['keyObject-' + userInfo.userName]);
          this.form.accountName = keyObject.account;
          this.dialogFormVisible = true;
        } else {
          console.log("jump to addpassword()");
          this.transPoints();
        }
        
      },

      handleListAll() {
        this.getDataList();
      },
      async getDataList() {
        let web3 = new Web3(new Web3.providers.HttpProvider(this.provideAddr));
        let contract = web3.eth.contract(this.abiArray).at(this.contractAddress);
        console.log(this.contractAddress);
        const resp = contract.listPointList();
        console.log(resp);
        this.tableData = [];
        this.tableData = JSON.parse(resp).data;
      },
      transPoints() {

        let web3 = new Web3(new Web3.providers.HttpProvider(this.provideAddr));
        let contract = web3.eth.contract(this.abiArray).at(this.contractAddress);
        if ('E币转账' == this.form.method ) {
       
          //const myCallData = contract.add(this.selectTable.uid, this.selectTable.role, this.selectTable.points, this.selectTable.remark);
          const myCallData = contract.sendPoints.getData(this.selectTable.payer, this.selectTable.payee, this.selectTable.points, this.selectTable.remark);
          console.log(this.form.method+"<--form-method");
          this.mySendTransaction(web3, myCallData,this.contractAddress);
        } 
        this.dialogFormVisible = false;
      },
      mySendTransaction(web3, myCallData,contractAddress) {
        console.log("in mySendTransaction.");
        var nonce = web3.nonce();;
        var rawTx = {
          nonce: nonce,       // 获取交易nonce值
          gasPrice: 100000000000,//21000000000
          gasLimit: 10000000000000,//843314949521407
          to: contractAddress, // 合约address
          data: myCallData // 发送的交易数据
        };
        //if (browseCheck() && !mobileAndTabletcheck()) {

          var username = "Rhinux";
          var account = "Rhinux";
          var password = "MynameisRhinux";
          var privateKey = keyManager.recover(username, account, password);
          console.log("privatekey:"+privateKey);
          var tx = new EthereumTx(rawTx);
          var privateKeyBuffer = new Buffer(privateKey, 'hex');
          tx.sign(privateKeyBuffer);
          var serializedTx = tx.serialize().toString('hex');
          web3.eth.sendRawTransaction(serializedTx, function (err, hash){
            console.log(err)
            if (!err){
              console.log(hash);
              alert('操作成功');
            }else{
              console.log(hash);
              alert('操作失败');
            }
          });
        //} else {
          // 调用客户端能力进行交易签名
        //  Juice.wallet.sign(rawTx, (res) => {
        //    let signData = res.data;
        //    web3.eth.sendRawTransaction(signData, (err, hash) => {
        //      if (!err){
        //        console.log(hash);
        //        this.$alert('操作成功', '提示', {
        //          confirmButtonText: '确定'
        //        });
        //        setTimeout(10000);
        //        this.getDataList();
        //     }
        //    });
        //  });
      //  }
      },
      get (c_name) {
        if (document.cookie.length > 0) {
          let c_start = document.cookie.indexOf(c_name + "=")
          if (c_start != -1) {
            c_start = c_start + c_name.length + 1
            let c_end = document.cookie.indexOf(";", c_start)
            if (c_end == -1) c_end = document.cookie.length
            return document.cookie.substring(c_start, c_end)
          }
        }
        return ""
      },
    }
  };
</script>
