<template>
	
<div>
	<el-container>
    <el-header width="100px" high="1px" >
		   <p style="background-color:#20A0FF;font-size:20px;">天翼视讯E币系统演示</p> 
	  </el-header>
    <el-container>
	    <el-aside width="100px">
				<div  style="margin-top: 30px;">
        <el-tabs :tab-position="tabPosition" v-model="activeName"  style="height: 300px;">
          <el-tab-pane label="用户管理" name="home"></el-tab-pane>
          <el-tab-pane label="E币管理 "  name="point"></el-tab-pane>
          <el-tab-pane label="高危操作" name="delet"></el-tab-pane>
          <el-tab-pane label="About"   name="home"></el-tab-pane>
        </el-tabs>
				</div>
      </el-aside>
      <el-main>
	      <transition enter-active-class="animated zoomIn" leave-active-class="animated zoomOut">
			  <router-view></router-view>
    	  </transition>
			</el-main>
		  </el-container>
</el-container>
</div>

</template>

<script>

 export default {
    data() {
      return {
				tabPosition: 'left',
				activeName: 'home'
      };
		},
		watch :{
   'activeName':function(val) { 
        let urlStr = '/' + val;
        this.$router.push(urlStr);
		 }
		}
  };

</script>

<style>


</style>
